@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/ProximaNova-Bold.woff);
  font-weight: 700;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/ProximaNova-Light.woff);
  font-weight: 300;
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/ProximaNova-Regular.woff);
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/ProximaNova-Semibold.woff);
  font-weight: 600;
}
body a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 1540px;
}
.content {
  width: 100%;
  min-width: 1900px;
}
header {
  background-image: url(../img/bg-football.png);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 1900px;
  height: 962px;
  background-size: cover;
  background-position-y: top;
}
header .top-link {
  display: flex;
  justify-content: space-between;
  padding-top: 53px;
}
header .top-link h6 {
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 35px;
  color: #ffffff;
  text-align: right;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
header .name {
  margin-top: 308px;
  display: flex;
  flex-direction: column;
}
header .name p {
  font-family: "Proxima Nova";
  font-size: 90px;
  line-height: 90px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.96px;
  position: relative;
  z-index: 3;
}
header .name p:last-child {
  text-align: right;
  z-index: 1;
}
header .name p:last-child::after {
  content: "";
  position: absolute;
  z-index: 2;
  border-left: 4px solid #5d40ad;
  width: 1px;
  height: 350px;
  bottom: -80px;
  left: 509px;
  transform: rotate(45deg);
}
header .change-block .menu {
  text-align: right;
  margin-top: 20px;
}
header .change-block .menu a {
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 14px;
  color: #9071ea;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin-right: 53px;
}
header .change-block .menu a:last-child {
  margin-right: 0;
}
.button-block {
  display: flex;
  justify-content: center;
  margin-top: 170px;
}
.button-block a {
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 35px;
  color: #ffffff;
  box-sizing: border-box;
  position: relative;
  width: 311px;
  min-height: 77px;
  box-shadow: 0 16px 24px #0a0e34;
  background-color: #5e42b0;
  border-radius: 34px;
  padding-top: 16px;
  padding-left: 106px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.button-block .button {
  margin-right: 48px;
}
.button-block .button::before,
.button-block .android-button::before {
  position: absolute;
  left: 44px;
  top: 18px;
  content: "";
  width: 45px;
  height: 40px;
  background: url(../img/icon-apple.png) left center no-repeat;
}
.button-block .android-button::before {
  background: url(../img/icon-google-play.png) left center no-repeat;
}
.button-block .button::after,
.button-block .android-button::after {
  position: absolute;
  content: "app store";
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 34.49px;
  letter-spacing: 0.7px;
  top: 33px;
  left: 105px;
  font-weight: 400;
}
.button-block .android-button::after {
  content: "google play";
}
.athlets {
  display: flex;
  flex-direction: column;
  position: relative;
}
.athlets img {
  position: absolute;
  top: 80px;
  left: 20%;
}
.athlets h2,
.athlets div {
  padding-left: 53%;
}
.athlets h2 {
  font-family: "Proxima Nova";
  font-size: 90px;
  line-height: 90px;
  color: #e7e7e7;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 110px;
  margin-bottom: 94px;
}
.athlets h3 {
  font-family: "Proxima Nova";
  font-size: 36px;
  line-height: 36px;
  color: #c1c1c1;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin-bottom: 31px;
  position: relative;
}
.athlets h3::before {
  content: "01";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  vertical-align: top;
  margin-right: 10px;
  font-family: "Proxima Nova";
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}
.athlets h3::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 8px;
  border-radius: 2px;
  background-color: #5e42b0;
  top: 20px;
  left: 0;
}
.athlets p {
  font-family: "Proxima Nova";
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 60px;
}
.athlets div:nth-child(4) {
  min-height: 260px;
  background-color: #f6f4fa;
}
.athlets div:nth-child(4) h3 {
  margin-top: 55px;
}
.athlets div:nth-child(4) h3::before {
  content: "02";
}
.athlets div:nth-child(4) h3::after {
  background-color: #5e42b0;
  top: 20px;
}
.athlets div:nth-child(5) {
  min-height: 300px;
  background-color: #5e42b0;
}
.athlets div:nth-child(5) h3 {
  margin-top: 90px;
}
.athlets div:nth-child(5) h3::before {
  content: "03";
}
.athlets div:nth-child(5) h3::after {
  background-color: #efefef;
  top: 20px;
}
.athlets div:nth-child(5) p {
  color: #ffffff;
}
.players img {
  position: absolute;
  right: 20%;
  left: auto;
  top: -35px;
}
.players h2,
.players div {
  padding-left: 5%;
}
.players div:nth-child(4) {
  min-height: 240px;
}
.players div:nth-child(5) {
  min-height: 271px;
  background-color: #0a0e34;
}
.players div:nth-child(5) h3::before {
  color: #9173e6;
}
.main-block > div {
  display: flex;
}
.main-block figure {
  width: 50%;
  position: relative;
}
.main-block figure::before {
  font-family: "Proxima Nova";
  font-size: 24px;
  line-height: 34px;
  color: #f5f6f7;
  content: "01";
  display: block;
  position: absolute;
  width: 170px;
  height: 159px;
  background-color: #5e42b0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 62px 72px 60px 68px;
  left: calc(100% - 85px);
  top: 208px;
  box-sizing: border-box;
}
.main-block figure::after {
  content: "";
  position: absolute;
  top: 300px;
  left: calc(100% - 16px);
  width: 24px;
  height: 7px;
  border-radius: 2px;
  background-color: #ffffff;
  opacity: 0.3;
}
.main-block figure img {
  width: 100%;
}
.main-block h2 {
  font-family: "Proxima Nova";
  font-size: 90px;
  line-height: 90px;
  color: #c1c1c1;
  opacity: 0.4;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 127px;
  margin-top: 256px;
}
.main-block p {
  font-family: "Proxima Nova";
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin-left: 127px;
  margin-top: 119px;
  width: 330px;
}
.main-block p::after {
  content: "";
  width: 25px;
  height: 7px;
  border-radius: 2px;
  background-color: #5e42b0;
  margin-top: 70px;
  display: block;
}
.main-block > div:nth-child(2) {
  flex-direction: row-reverse;
  margin-top: -3px;
}
.main-block > div:nth-child(2) figure::before {
  content: "02";
  left: -85px;
}
.main-block > div:nth-child(2) figure::after {
  left: -14px;
}
.main-block > div:nth-child(2) h2,
.main-block > div:nth-child(2) p {
  margin-right: 192px;
}
.main-block > div:nth-child(3) {
  margin-top: -3px;
}
.main-block > div:nth-child(3) figure::before {
  content: "03";
}
.main-block > div:nth-child(3) p {
  width: 510px;
}
footer {
  background-image: url(../img/bg-footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 1900px;
  height: 960px;
  margin-top: -4px;
  background-size: cover;
  background-position-y: center;
}
footer .footblock {
  display: flex;
  justify-content: center;
  padding-top: 238px;
}
footer .footblock figure {
  margin-right: 36px;
}
footer .footblock h2 {
  font-family: "Proxima Nova";
  font-size: 90px;
  line-height: 90px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.6px;
  position: relative;
  z-index: 1;
}
footer .footblock h2::after {
  content: "";
  position: absolute;
  border-left: 4px solid #5d40ad;
  width: 1px;
  height: 350px;
  bottom: -150px;
  left: 495px;
  transform: rotate(45deg);
  z-index: -1;
}
footer .footblock h2::before {
  content: "";
  position: absolute;
  border-left: 4px solid #5d40ad;
  width: 1px;
  height: 210px;
  bottom: -70px;
  left: 90px;
  transform: rotate(45deg);
  z-index: -1;
}
footer .footblock h3 {
  font-family: "Proxima Nova";
  font-size: 36px;
  line-height: 36px;
  color: #a496ca;
  font-weight: 700;
  text-transform: uppercase;
}
footer .down-menu {
  width: 100%;
  height: 169px;
  background: rgba(10, 14, 52, 0.6);
  margin-top: 165px;
  display: flex;
  justify-content: space-around;
  padding-top: 71px;
  box-sizing: border-box;
}
footer .down-menu .social a {
  margin-right: 40px;
}
footer .down-menu .social a:nth-child(3) {
  margin-right: 0;
}
footer .down-menu .contact-us {
  font-family: "Proxima Nova";
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 1px;
}
@media (min-width: 768px) and (max-width: 1919px) {
  .container {
    margin: 0 auto;
    width: 100%;
  }
  .content {
    width: 100%;
    min-width: 768px;
  }
  header {
    min-width: 768px;
  }
  header .top-link {
    justify-content: space-around;
  }
  header .name {
    margin-top: 275px;
    align-items: center;
  }
  header .name p {
    font-family: "Proxima Nova";
    font-size: 64px;
    line-height: 70px;
    color: #ffffff;
    letter-spacing: 3.52px;
  }
  header .name p:last-child {
    text-align: left;
    z-index: 2;
    width: 500px;
    margin-left: 223px;
  }
  header .name p:last-child::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-left: 4px solid #5d40ad;
    width: 1px;
    height: 375px;
    bottom: -80px;
    left: 190px;
    transform: rotate(45deg);
  }
  header .change-block .menu {
    text-align: center;
    margin-top: 140px;
  }
  .button-block {
    margin-top: 75px;
  }
  .athlets img {
    right: 55%;
    left: auto;
    top: 100px;
    height: 699px;
  }
  .athlets h2,
  .athlets div {
    padding-left: 42%;
  }
  .athlets h2 {
    margin-top: 80px;
    margin-bottom: 50px;
  }
  .athlets p {
    margin-bottom: 20px;
    width: 75%;
  }
  .athlets div:nth-child(4) {
    min-height: 235px;
    background-color: #f6f4fa;
  }
  .athlets div:nth-child(4) h3 {
    margin-top: 30px;
  }
  .athlets div:nth-child(4) h3::before {
    content: "02";
  }
  .athlets div:nth-child(4) h3::after {
    background-color: #5e42b0;
    top: 20px;
  }
  .athlets div:nth-child(5) {
    min-height: 205px;
    background-color: #5e42b0;
  }
  .athlets div:nth-child(5) h3 {
    margin-top: 30px;
  }
  .athlets div:nth-child(5) p {
    color: #ffffff;
  }
  .players img {
    position: absolute;
    left: 44%;
    right: auto;
    top: 60px;
    height: 565px;
  }
  .players h2,
  .players div {
    padding-left: 5%;
  }
  .players p {
    width: 40%;
  }
  .players div:nth-child(4) {
    min-height: 235px;
  }
  .players div:nth-child(5) {
    min-height: 205px;
    background-color: #0a0e34;
  }
  .players div:nth-child(5) h3::before {
    color: #9173e6;
  }
  .main-block > div {
    flex-direction: column;
  }
  .main-block figure {
    width: 100%;
  }
  .main-block figure::before {
    left: 33px;
    top: auto;
    bottom: -36px;
  }
  .main-block figure::after {
    top: auto;
    bottom: 22px;
    left: 102px;
  }
  .main-block figure img {
    width: 100%;
  }
  .main-block h2 {
    margin-top: 82px;
  }
  .main-block p {
    width: 70%;
    margin-top: 36px;
  }
  .main-block p::after {
    margin-bottom: 63px;
  }
  .main-block > div:nth-child(2) {
    flex-direction: column;
  }
  .main-block > div:nth-child(2) figure::before {
    left: 33px;
  }
  .main-block > div:nth-child(2) figure::after {
    left: 102px;
  }
  .main-block > div:nth-child(3) p {
    width: 70%;
  }
  footer {
    min-width: 767px;
    width: 100%;
  }
  footer .footblock {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 238px;
  }
  footer .footblock figure {
    margin-right: 0;
  }
  footer .footblock h2 {
    font-family: "Proxima Nova";
    font-size: 80px;
    line-height: 80px;
    color: #ffffff;
  }
  footer .button-block {
    margin-top: 131px;
  }
  footer .down-menu {
    height: 92px;
    padding-top: 32px;
  }
  footer .down-menu .logo {
    display: none;
  }
  footer .down-menu .social a {
    margin-right: 40px;
  }
  footer .down-menu .social a:nth-child(3) {
    margin-right: 0;
  }
  footer .down-menu .contact-us {
    display: none;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  header .name {
    align-items: center;
  }
  header .name p {
    font-family: "Proxima Nova";
    font-size: 36px;
    line-height: 50px;
    color: #ffffff;
    letter-spacing: 3.52px;
    position: relative;
    z-index: 3;
  }
  header .name p:last-child {
    text-align: right;
    z-index: 1;
  }
  header .name p:last-child::after {
    content: "";
    position: absolute;
    z-index: 2;
    border-left: 4px solid #5d40ad;
    width: 1px;
    height: 350px;
    bottom: -80px;
    left: 509px;
    transform: rotate(45deg);
  }
}
